.App{
  background: #ffff;
}
.todoParentDiv{
  position: absolute;
  width: 65%;
  padding:4em;
  left: 20%;

}
.todoParentDiv h4{
  font-size: 24px;
  text-align: center;
}
.todoParentDiv .addTodo{
  display: flex;
}
.todoParentDiv .addTodo input{
  background: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 18px;
  padding: 5px 10px;
  min-width: 90%;
  border-radius: 5px 0 0 5px;
}
.todoParentDiv .addTodo button{
  background: #64b5f6;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: #ffff;
  padding: 5px 10px;
  border-radius:0 5px 5px 0;
}
.todoParentDiv .todos{
  display: grid;
  grid-template-columns: repeat(auto-fill,31.3%);
  gap: 1em;
  margin-top: 5em;
  width: 100%;
}
.todoParentDiv .todos .todo{
  border-radius: 5px;
  height: 200px;
  box-shadow: 0px 5px 10px 0px #f0f3f2; 
  position: relative;
  padding: 5px 20px;
  margin-top: 1em;
}
.todoParentDiv .todos .todo .text{
  font-size: 24px;
}
.todoParentDiv .todos .todo .date{
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  color: #ccc;
}
.todoParentDiv .todos .todo .options{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.todoParentDiv .todos .todo .options button{
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
}

@media (min-width:200px) and (max-width:1223px) {
 .todoParentDiv{
  left: 0;
  width:100%;
  padding: 2em 1em;
  top: 80px;
 }
 .todoParentDiv .addTodo input{
   padding: 5px;
   min-width: 85%;
 } 
 .todoParentDiv .todos{
  margin-top: 2em;
  grid-template-columns: 100%;
 }
}